:root {
  /* primary */
  --clr-primary-50: #ecfdf6;
  --clr-primary-100: #d1fae6;
  --clr-primary-200: #a8f2d2;
  --clr-primary-300: #6fe6bb;
  --clr-primary-400: #36d19e;
  --clr-primary-500: #12b785;
  --clr-primary-600: #07946c;
  --clr-primary-700: #05775a;
  --clr-primary-800: #075e49;
  --clr-primary-900: #07503f;
  --clr-primary-950: #022c23;

  /* nuance */
  --clr-nuance-50: #f6f6f6;
  --clr-nuance-100: #e7e7e7;
  --clr-nuance-200: #d1d1d1;
  --clr-nuance-300: #b0b0b0;
  --clr-nuance-400: #888888;
  --clr-nuance-500: #6d6d6d;
  --clr-nuance-600: #5d5d5d;
  --clr-nuance-700: #4f4f4f;
  --clr-nuance-800: #454545;
  --clr-nuance-900: #3d3d3d;
  --clr-nuance-950: #000000;

  --clr-black: #000000;
  --clr-white: #ffffff;
  --offwhite: #e8e7dd;

  /* font family */
  --ff-poppins: "Poppins", sans-serif;
  --ff-open: "Open Sans", serif;
  --ff-outfit: "Outfit", sans-serif;
  --ff-amatic: "Amatic SC", sans-serif;
  --ff-karla: "Karla", sans-serif;

  /* misc */
  --transition-02: all 0.2s ease-in-out;
  --transition-04: all 0.4s ease-in-out;
}

#about {
  background: var(--offwhite);
  padding: 1rem;
}

#about article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-inline-size: 100vw;
  padding: 1rem;
}

.aboutImg {
  position: relative;
  max-block-size: max-content;
  max-inline-size: max-content;
  margin-inline: auto;
}

.aboutImg img {
  max-block-size: 20rem;
  inline-size: 20rem;
  margin-inline: auto;
  border-radius: 10px;
  position: relative;
  z-index: 10;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.aboutImg::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--clr-primary-800);
  inline-size: 100%;
  block-size: 100%;
  top: -0.5rem;
  left: 0.5rem;
  border-radius: 10px;
}

.aboutText p {
  font-family: var(--ff-karla);
  font-weight: 700;
  font-size: 0.94em;
  color: var(--clr-primary-900);
}

#about h2 {
  font-family: var(--ff-poppins);
  color: var(--clr-primary-700);
  font-size: 1.8em;
  margin-block-end: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  inline-size: max-content;
  margin-inline: auto;
}

.bgleaf1,
.bgleaf2 {
  display: none;
}

/* min 480px */

@media screen and (min-width: 480px) {
  #about {
    position: relative;
  }

  #about article {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    max-inline-size: 100vw;
    padding: 1rem;
  }

  #about article:last-of-type .aboutText {
    order: 2;
  }

  .aboutImg img {
    block-size: 25rem;
    inline-size: 15rem;
  }

  .aboutText {
    inline-size: 60vw;
  }
}

/* min 1000px */

@media screen and (min-width: 1000px) {
  #about article {
    max-inline-size: 60vw;
    padding: 1rem;
    justify-content: center;
  }

  #about article:first-of-type {
    margin-left: 10vw;
  }

  #about article:last-of-type {
    margin-left: 30vw;
  }

  .aboutImg {
    margin-inline: 0;
  }

  .aboutImg img {
    block-size: 20rem;
    max-block-size: 20rem;
    max-inline-size: 15rem;
  }

  #about h2 {
    margin-block-end: 2rem;
    font-size: 2em;
  }

  .aboutText p {
    font-family: var(--ff-karla);
    font-weight: 700;
    font-size: 1.11em;
  }

  .bgleaf1 {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    block-size: 20rem;
    filter: brightness(0.8) contrast(1.4);
  }

  .bgleaf2 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    block-size: 20rem;
    filter: brightness(0.8) contrast(1.4);
  }
}

/* min 1600px */

@media screen and (min-width: 1600px) {
  .aboutImg img {
    block-size: 20rem;
    max-block-size: 20rem;
    max-inline-size: 20rem;
  }

  article:first-of-type .aboutImg {
    animation: slide-left linear;
    animation-timeline: view(10px 10px);
    transform: translateX(20rem);
  }

  article:last-of-type .aboutImg {
    animation: slide-right linear;
    animation-timeline: view(10px 10px);
    transform: translateX(-20rem);
  }

  @keyframes slide-right {
    from {
      transform: translateX(-10rem);
    }
    to {
      transform: translateX(0rem);
    }
  }

  @keyframes slide-left {
    from {
      transform: translateX(10rem);
    }
    to {
      transform: translateX(0rem);
    }
  }

  .aboutText {
    inline-size: 30vw;
  }

  .aboutText p {
    font-family: var(--ff-karla);
    font-size: 1.3em;
    line-height: 1.3;
  }

  .bgleaf1 {
    block-size: 26rem;
  }

  .bgleaf2 {
    block-size: 26rem;
  }
}
