:root {
  /* primary */
  --clr-primary-50: #ecfdf6;
  --clr-primary-100: #d1fae6;
  --clr-primary-200: #a8f2d2;
  --clr-primary-300: #6fe6bb;
  --clr-primary-400: #36d19e;
  --clr-primary-500: #12b785;
  --clr-primary-600: #07946c;
  --clr-primary-700: #05775a;
  --clr-primary-800: #075e49;
  --clr-primary-900: #07503f;
  --clr-primary-950: #022c23;

  /* nuance */
  --clr-nuance-50: #f6f6f6;
  --clr-nuance-100: #e7e7e7;
  --clr-nuance-200: #d1d1d1;
  --clr-nuance-300: #b0b0b0;
  --clr-nuance-400: #888888;
  --clr-nuance-500: #6d6d6d;
  --clr-nuance-600: #5d5d5d;
  --clr-nuance-700: #4f4f4f;
  --clr-nuance-800: #454545;
  --clr-nuance-900: #3d3d3d;
  --clr-nuance-950: #000000;

  --clr-black: #000000;
  --clr-white: #ffffff;
  --offwhite: #e8e7dd;

  /* font family */
  --ff-poppins: "Poppins", sans-serif;
  --ff-open: "Open Sans", serif;
  --ff-outfit: "Outfit", sans-serif;
  --ff-amatic: "Amatic SC", sans-serif;
  --ff-karla: "Karla", sans-serif;

  /* misc */
  --transition-02: all 0.2s ease-in-out;
  --transition-04: all 0.4s ease-in-out;
}

#contact {
  padding-block: 2rem 3rem;
  background: var(--offwhite);
}

.formMap {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

h5 {
  inline-size: max-content;
  margin-inline: auto;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  font-size: 1.8em;
  font-family: var(--ff-poppins);
  margin-block-end: 3rem;
  color: var(--clr-primary-700);
}

#contact form {
  inline-size: 80vw;
  margin-inline: auto;
  padding: 2rem 1rem;
  background: #f8f8f5;
  border-radius: 10px;
  position: relative;
}

#contact form > * + * {
  margin-block-start: 1rem;
}

#contact form span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 1rem;
  background: var(--clr-primary-600);
  color: var(--clr-white);
  border-radius: 10px;
  font-family: var(--ff-outfit);
  font-weight: 600;
  letter-spacing: 0.05rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  inline-size: 15rem;
  text-align: center;
}

.formRow {
  inline-size: 70%;
}

.formRow input {
  border: none;
  background: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0.2rem;
  outline: none;
  font-family: var(--ff-outfit);
  font-size: 1em;
  inline-size: 100%;
}

.formRow input::placeholder {
  font-size: 1em;
  color: var(--clr-nuance-950);
  font-family: var(--ff-outfit);
  opacity: 0.8;
}

.nameContainer > * + * {
  margin-block-start: 1rem;
}

.formMsg {
  font-family: var(--ff-outfit);
  font-weight: 500;
}

.formMsg textarea {
  inline-size: 100%;
  margin-block-start: 0.5rem;
  border-radius: 5px;
  height: 5rem;
  outline: none;
  padding: 0.3rem 0.3rem;
  font-family: var(--ff-karla);
  border: 2px solid rgba(0, 0, 0, 0.2);
  font-size: 0.9em;
}

.formMsg textarea::placeholder {
  font-size: 1em;
  color: var(--clr-nuance-950);
  font-family: var(--ff-outfit);
  opacity: 0.5;
}

.mapContainer {
  inline-size: 80vw;
  background: #cccbbd;
  margin-inline: auto;
  padding: 2rem 1rem;
  border-radius: 10px;
  position: relative;
  block-size: 465px;
}

.mapContainer iframe {
  inline-size: 100%;
  block-size: 21rem;
  border: 2px solid var(--clr-nuance-300);
  border-radius: 10px;
}

.mapContainer address {
  font-family: var(--ff-poppins);
  font-size: 1.2em;
  font-weight: 500;
  color: var(--clr-primary-800);
  margin-block-end: 1rem;
  text-align: center;
  font-weight: 600;
  font-style: normal;
}

.mapContainer span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 1rem;
  background: var(--clr-primary-600);
  color: var(--clr-white);
  border-radius: 5px;
  font-family: var(--ff-outfit);
  font-weight: 600;
  letter-spacing: 0.05rem;
  inline-size: 15rem;
  text-align: center;
}

.submitBtn {
  inline-size: max-content;
  margin-inline: auto;
}

.submitBtn button {
  background: var(--clr-primary-500);
  color: var(--clr-white);
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0.5rem 2rem;
  border-radius: 7px;
  letter-spacing: 0.05rem;
  font-family: var(--ff-outfit);
  transition: var(--transition-02);
  cursor: pointer;
}

.submitBtn button:hover {
  background: var(--clr-primary-700);
}

/* min 800px */

@media screen and (min-width: 800px) {
  .formMap {
    flex-direction: row;
    align-items: center;
    inline-size: 90vw;
    margin-inline: auto;
  }

  .formRow input::placeholder {
    font-size: 1.2em;
    color: var(--clr-nuance-950);
    font-family: var(--ff-outfit);
    opacity: 0.8;
  }

  .formMsg {
    font-size: 1.2em;
  }

  .formMsg textarea::placeholder {
    font-size: 1.2em;
  }

  .mapContainer iframe {
    block-size: 21rem;
  }
}

/* min 100px */

@media screen and (min-width: 1000px) {
  h5 {
    font-size: 2em;
  }
}

@media screen and (min-width: 1123px) {
  .mapContainer iframe {
    inline-size: 100%;
    block-size: 23rem;
  }

  .nameContainer > * + * {
    margin-block-start: 0;
  }

  .mapContainer {
    block-size: 459px;
  }

  .nameContainer {
    display: flex;
    inline-size: 70%;
    justify-content: space-between;
  }

  .nameContainer .formRow {
    inline-size: 45%;
  }

  .formMsg {
    inline-size: 80%;
  }

  .formMsg textarea {
    height: 8rem;
  }

  .submitBtn {
    margin-inline: 0;
  }
}

/* min 1600px */

@media screen and (min-width: 1600px) {
  .formMap {
    inline-size: 70vw;
  }
}
