:root {
  /* primary */
  --clr-primary-50: #ecfdf6;
  --clr-primary-100: #d1fae6;
  --clr-primary-200: #a8f2d2;
  --clr-primary-300: #6fe6bb;
  --clr-primary-400: #36d19e;
  --clr-primary-500: #12b785;
  --clr-primary-600: #07946c;
  --clr-primary-700: #05775a;
  --clr-primary-800: #075e49;
  --clr-primary-900: #07503f;
  --clr-primary-950: #022c23;

  /* nuance */
  --clr-nuance-50: #f6f6f6;
  --clr-nuance-100: #e7e7e7;
  --clr-nuance-200: #d1d1d1;
  --clr-nuance-300: #b0b0b0;
  --clr-nuance-400: #888888;
  --clr-nuance-500: #6d6d6d;
  --clr-nuance-600: #5d5d5d;
  --clr-nuance-700: #4f4f4f;
  --clr-nuance-800: #454545;
  --clr-nuance-900: #3d3d3d;
  --clr-nuance-950: #000000;

  --clr-black: #000000;
  --clr-white: #ffffff;
  --offwhite: #e8e7dd;

  /* font family */
  --ff-poppins: "Poppins", sans-serif;
  --ff-open: "Open Sans", serif;
  --ff-outfit: "Outfit", sans-serif;
  --ff-amatic: "Amatic SC", sans-serif;
  --ff-karla: "Karla", sans-serif;

  /* misc */
  --transition-02: all 0.2s ease-in-out;
  --transition-04: all 0.4s ease-in-out;
}

#loginMain {
  background: var(--offwhite);
  min-height: 100vh;
}

.adminTitle {
  inline-size: max-content;
  margin-inline: auto;
}

.adminTitle h1 {
  font-family: var(--ff-poppins);
  font-size: 2.8rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  padding-block-start: 10vh;
}

.loginForm {
  background: var(--clr-primary-800);
  padding: 3rem;
  inline-size: 20rem;
  border-radius: 7px;
  margin-inline: auto;
  margin-block-start: 10vh;
}

.loginForm h2 {
  text-align: center;
  font-family: var(--ff-poppins);
  color: var(--clr-white);
  margin-block-end: 1rem;
  font-size: 2.5rem;
}

.loginForm .formRow {
  inline-size: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.loginForm > * + * {
  margin-block-start: 1rem;
}

.loginForm .formRow input {
  inline-size: 100%;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: var(--clr-nuance-50);
  padding-block: 0.2rem;
  font-family: var(--ff-outfit);
  font-size: 1.5rem;
  outline: none;
  padding-inline-start: 0.5rem;
}

.loginForm i {
  color: var(--clr-white);
  font-size: 1.5rem;
}

.loginForm .formRow input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: var(--ff-outfit);
}

.submitBtn {
  inline-size: max-content;
  margin-inline: auto;
  margin-block-start: 2rem;
}

.submitBtn button {
  background: var(--offwhite);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  font-size: 1.4rem;
  font-family: var(--ff-outfit);
  font-weight: 500;
  color: var(--clr-primary-800);
  cursor: pointer;
}

.backHome {
  text-align: center;
  margin-block-start: 2rem;
}

.backHome a {
  font-family: var(--ff-open);
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
}

/* min 600px */

@media screen and (min-width: 600px) {
  .loginForm {
    inline-size: 25rem;
  }
}
